<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to @current_user.name, root_path  %></li>
			<% if @group %>
  			<li><%= link_to "Grupo", groups_path %></li>
				<li><%= link_to @group.name, @group %></li>
			<% end %>
			<% if @contact %>
				<li><%= link_to "Contatos", contacts_path %></li>
				<li><%= link_to @contact.info, @contact %></li>			
			<% end %>
			<li><%= link_to "Convites", "#" %></li>
      <li class="active"><%= link_to "Status", "#" %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.invite.group_id", :default => t("activerecord.labels.group_id", :default => "Group")) %>:</b>
          <%= @invite.group.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.invite.contact", :default => t("activerecord.labels.contact", :default => "Contact")) %>:</b>
          <%= @invite.contact.info %>
        </p>
      <div class="wat-cf">
				<% edit_link = edit_group_invite_path(@group, @invite) if @group %>
				<% edit_link = edit_contact_invite_path(@contact, @invite) if @contact %>
        <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_link, :class => "button" %> 
				<% delete_link = [@group, @invite] if @group %>
				<% delete_link = [@contact, @invite] if @contact %>
        <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", delete_link, :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>