<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
	    <li class="first active"><%= link_to "Listagem de Grupos", "#"  %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"></h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">
						<%= t("activerecord.attributes.group.name", :default => t("activerecord.labels.name", :default => "Name")) %>
					</th>
					<th>
						<%= "Total de usuários" %>
					</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @groups.each do |group| -%>
        <tr class="<%= cycle("odd", "even") %>">
					<td>
						<%= link_to group.name, user_group_path(@user, group) %>
					</td>
					<td>
            
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", [@user, group] %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_user_group_path(@user, group) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", [@user, group], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>