<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "Listagem de Grupos", user_groups_path  %></li>
      <li class="active"><%= link_to "Grupo #{@group.name}", "#" %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
        <p>
          <b><%= t("activerecord.attributes.group.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @group.name %>
        </p>
      <div class="wat-cf">
        <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_user_group_path(@user, @group), :class => "button" %> 
        <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", user_group_path(@user, @group), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>  
		  	<h1>Contatos</h1>
		    <table class="table">
		      <tr>             
		        <th>Nome</th>
						<th><%= t("activerecord.attributes.phone.ddd", :default => t("activerecord.labels.ddd", :default => "DDD")) %></th>
						<th><%= t("activerecord.attributes.phone.number", :default => t("activerecord.labels.number", :default => "Number")) %></th>
						<th><%= t("activerecord.attributes.phone.extension", :default => t("activerecord.labels.extension", :default => "Extension")) %></th>
		        <th class="last">&nbsp;</th>
		      </tr>
		    </table>    
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>