<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
	    <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", user_contacts_path(@user)  %></li>
  		<li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_user_contact_path(@user) %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"></h2>
    <div class="inner">
      <table class="table">
        <tr> 
          <th class="first"><%= t("activerecord.attributes.contact.ddd", :default => t("activerecord.labels.ddd", :default => "Ddd")) %></th>
					<th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @contacts.each do |contact| -%>
        <tr class="<%= cycle("odd", "even") %>">
					<td>
						<%= link_to contact.description, user_contact_path(@user, contact) %>
					</td>
					<td>
            <%= contact.info %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", user_contact_path(@user, contact) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_user_contact_path(@user, contact) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", user_contact_path(@user, contact), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>